<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.docbot">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DocBot">
        <activity android:name=".ui.hasil.ResultActivity"></activity>
        <activity android:name=".ui.cekgejala.CameraActivity" />
        <activity android:name=".ui.cekgejala.CheckCameraActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.account.FormAccountActivity" />
        <activity android:name=".ui.account.AccountResultActivity" />
        <activity android:name=".ui.loadingcek.LoadingCekActivity" />
        <activity
            android:name=".ui.welcome.WelcomeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.splash.SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".ui.cekgejala.CheckActivity" />
        <activity android:name=".ui.dashboard.DashboardActivity" />
    </application>

</manifest>